.box1 {
    background-color: #192610;
    height: 120px;
}

.icones {
    font-size: 60px !important;
    color: white;
}

.icones:hover {
    background-color: #565902 !important;
    color: white;
}

.box2 {
    background-image: linear-gradient(#192610, #BF573F);
    height: 40px;
}

.textos {
    color: white;
}

.textos-rodape {
    color: white;
}