.box1 {
    background-color: #192610;
    height: 300px;
    padding-left: 10px;
}

.icones {
    font-size: 30px !important;
    color: white;
}

.icones:hover {
    background-color: #565902 !important;
    color: white;
}

.box2 {
    background-image: linear-gradient(#192610, #BF573F);
    height: 40px;
}

.textos {
    color: white;

}

.textos-footer{
    color: #CFD4BC;
    margin-top: 5px;
}

.textos-rodape {
    color: white;
}
.text-decorator-none {
    text-decoration: none;
}
.boxFooter::before{
    content: "";
    left: 0;
    bottom: 200px;
    background-color: #BF573F;
    padding-right: 100px;
    height: 2px;
    box-sizing: border-box;
    width: 150px;
    margin-bottom: 6px;
}