img {
	width: 100vw;
	object-fit: cover;
}

.caixa {
	background-color: #F2F2F2;
	padding: 20px;
}

.eWjCzc {
	color: #F2F2F2 !important;
	box-shadow: 0 0 2px 0px #F2F2F2 !important;
}

.eWjCzc:hover:enabled,
.eWjCzc:focus:enabled {
	color: #F2F2F2 !important;
	background-color: #9DA67C !important;
	box-shadow: 0 0 2px 0 #F2F2F2 !important;
}

.eAyARa {
	color: #F2F2F2 !important;
	box-shadow: 0 0 2px 0px #F2F2F2 !important;
}

.krmNah:hover,
.krmNah:focus {
	cursor: pointer !important;
	box-shadow: 0 0 1px 3px #9DA67C !important;
}

.krmNah {
	background-color: #9DA67C !important;
	box-shadow: 0 0 1px 3px #9DA67C !important;
}

.jhmYzC:hover,
.jhmYzC:focus {
	box-shadow: 0 0 1px 3px #9DA67C !important;
}