
.caixa {
    margin: 10px;
    background-color:white;
    padding: 10px;
    border-radius: 16px;
}
.caixa2 {
    margin: 10px;
    background-color: #9DA67C ;
    padding: 10px;
    border-radius: 16px;
}

.imgcaixas {
    width: 20vw;
    height: 20vh;
}

.textoSobre {
    color: #192610!important;
}
.foto{
    border-radius: 50% !important;
    margin: 10px;
    padding-right: 10px !important;
}