.precoProduto::before {
    content: "";
    left: 0;
    bottom: 200px;
    background-color: #b4b4b4;
    padding-right: 100px;
    height: 2px;
    box-sizing: border-box;
    width: 250px;
    margin-bottom: 1px;
}

.cifrao {
    padding-right: 5px;
}