.background-login-cadastro {
    background: url("https://i.imgur.com/eQjcHsP.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.flex1{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #627327;
    color:white;
    width: 100%;
    padding: 0 40px;
}

.flex2{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 60px;
}

.flex3{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #627327;
    color:white;
    width: 100%;
    padding: 0 40px;
}

.container-cadastro {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: sticky;
    overflow: hidden;
    width: 85%;
    min-height: 70%;
    opacity: 0.87;
}

.input-cadastro {
    background-color: #CFD4BC !important;
    border-radius: 10px !important;
    border: none !important;
    padding: 12px 15px !important;
    margin-top: -10px !important;
    margin-bottom: 10px !important;
}

.flex-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-cdto {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #192610;
    background-color: #627327;
    color: #F2F2F2;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 10px;
    letter-spacing: 1px;
}

#button-cancelar {
    background-color: #BF573F;
}