.imagem2{
    background-image: url(http://i.imgur.com/d5bMdDJ.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCadastrar{
    background-color: #A60303 !important;
}

.btnCancelar, .btnCancelar:hover{
    margin-left: 20px !important;
    background-color: #BFA584 !important;
}

