.background {
    background-color: #565902 !important;
}

.MuiListItem-button:hover {
	text-decoration: none !important;
	background-color: rgba(0, 0, 0, 0.04) !important;
}

.text-decoration-none{
    text-decoration: none;
    color: inherit;
}

.MuiTypography-Apuro-root {
    margin-right: 40px !important;
}

.css-av538e-MuiButtonBase-root-MuiIconButton-root {
    color: white !important;

}

.MuiSvgIcon-root-accountSetting {
    justify-content: end !important;
    font-size: 2.2rem !important;
}