.background {
    background-color: #565902 !important;
}

.MuiTypography-Apuro-root {
    margin-right: 40px !important;
}

.css-av538e-MuiButtonBase-root-MuiIconButton-root {
    color: white !important;

}

.MuiSvgIcon-root-accountSetting {
    justify-content: end !important;
    font-size: 2.2rem !important;
}