.textos1{
    font-weight: bold !important;
}

.button-logar {
    background-color: #A60303 !important;
}

.imagem{
    background-image: url(http://i.imgur.com/d5bMdDJ.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}