img {
	width: 100vw;
	object-fit: cover;
}

.caixa {
	background-color: #F2F2F2;
	padding: 20px;
}

.sc-bczRLJ {
	color: #F2F2F2 !important;
	box-shadow: 0 0 2px 0px #F2F2F2 !important;
}

.sc-bczRLJ:hover:enabled,
.sc-bczRLJ:focus:enabled {
	color: #F2F2F2 !important;
	background-color: #9DA67C !important;
	box-shadow: 0 0 2px 0 #F2F2F2 !important;
}

.sc-gKXOVf:hover .sc-gKXOVf:focus .sc-gKXOVf:active {
	cursor: pointer !important;
	box-shadow: 0 0 1px 3px #9DA67C !important;
	background-color: #9DA67C !important;
}

.rec-dot_active {
	background-color: #9DA67C !important;
}

.sc-gKXOVf {
	box-shadow: 0 0 1px 3px #9DA67C !important;
}

.sc-gKXOVf:hover,
.sc-gKXOVf:focus {
	box-shadow: 0 0 1px 3px #9DA67C !important;
}