.box1 {
    background-color: #192610;
    height: 200px;
    padding-left: 25px;
}

.icones {
    font-size: 35px !important;
    margin-top: 8px;
    margin-right: 5px;
    color: #F2F2F2;
}

.icones:hover {
    border-radius: 10px;
    cursor: pointer;
    background-color: #565902 !important;
    color: #F2F2F2;
}

.box2 {
    background-image: linear-gradient(#192610, #192610f3);
    height: 40px;
}

.textos {
    color: #F2F2F2;
}

.textosFooter {
    display: flex;
    color: #F2F2F2;
    font-size: 16px;
    margin-top: 3px !important;
}

.textos-rodape {
    color: #F2F2F2;
}

.text-decorator-none1 {
    text-decoration: none;
}

.boxFooter::before {
    content: "";
    left: 0;
    bottom: 200px;
    background-color: #9DA67C;
    padding-right: 100px;
    height: 2px;
    box-sizing: border-box;
    width: 150px;
    margin-bottom: 4px;
}